<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wy.imageviewer">

    <application>

        <activity android:name="com.wy.imageviewer.ImageViewerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

    </application>
</manifest>