<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wy.lpr.expresslove">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.wy.lpr.expresslove.main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/blue_ocean"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="UPDATE_APP_KEY"
            android:value="ab55ce55Ac4bcP408cPb8c1Aaeac179c5f6f" />

        <activity android:name="com.wy.lpr.expresslove.main.DrawHeartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".main.DrawHeartActivity" />-->
        <activity android:name="com.wy.lpr.expresslove.main.MainActivity" />
        <activity android:name="com.wy.lpr.expresslove.main.WelcomeGuideActivity" />
        <activity android:name="com.wy.lpr.expresslove.main.FireworksActivity" />
        <activity android:name="com.wy.lpr.expresslove.sample.TextSampleActivity" />
        <activity android:name="com.wy.lpr.expresslove.main.PictureAnimActivity" />
        <activity android:name="com.wy.lpr.expresslove.main.photo.PhotoActivity" />
        <activity
            android:name="com.wy.lpr.expresslove.zoom.DragPhotoActivity"
            android:theme="@style/translucent" />

    </application>

</manifest>